body{
  background-color: #2a2c39;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  background-color:  #2a2c39;
  box-shadow: none;
  position: relative;

} 
section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.personalImg{
  padding-bottom: 30px;
}
.timelineDiv{
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root{
  color: #858792;
  background: none !important;
  font-size: 18px;
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root:hover::after{
  -webkit-transform: translate(-50%,-50%) scale(1);
  transform: translate(-50%,-50%) scale(1);
  visibility: visible;
  opacity: 1
}
.hireMeBtn{
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.hireMeBtn:hover{
  background-color: #3b3d49;
}
.conatctbtn:hover{
  background-color: #fff;
  color: #2a2c39;
}
.viewbtn:hover{
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .personalImg{
  width: 250px;
  height: 250px;
  }
  .connectcallSvg{
  width: 250px;
  height: 250px;
  margin: auto;
  }
}
.portoflio{
  position: relative !important;
}
.progressBar{
  position: sticky !important;
}
.projectimage{
  height: 100%;
}
.connectSvg{
  position: absolute;
  margin: auto;
  z-index: -1;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #fff ;
 }
 .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color:#fff;
 }